.mapContainer {
    width: 100%;
    height: 100%;
}

.alert-fixed-top {
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius: 0;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    padding: 5px 5px;
}

.navbar-brand > img {
    display: inline;
    padding-right: 12px;
}

html, body, .view {
    height: 100%;
}

.content {
    height: calc(100% - 52px);
}

.defaultHidden {
    display: none;
}

.spLogo {
    width: 100%;
    max-width: 600px;
}

h2.inline {
    margin-top: 0;
}

.listComponent {
    height: 40%;
    overflow-y: auto;
}

.mapComponent {
    height: 60%;
}

.paddedContent {
    margin-top: 20px;
}

.storyReadingList {
    overflow-y: auto;
    height: auto;
}

.storyReadingButtons {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom: 0;
    margin-bottom: 0;
}