<!doctype html>

<html lang="en">

<head>
    <title>StoryPlaces</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="./script/libs/bootstrap-3.3.6-dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="dist/storyPlaces.css">
    <!--<link rel="stylesheet" href="css/app.css">-->
</head>

<body>
<div>
    <h1>StoryPlaces</h1>
    <hr/>
    <div id="page" class="container view">
    </div>
    <div id="pleaseWait" class="container view"><h3>Please wait while the contents loads</h3></div>
    <div id="cardView" class="container view" style="display: none;"></div>
    <div id="storyView" class="container view" style="display: none;"></div>
    <div id="storyListView" class="container view" style="display: none;"></div>
    <div id="readingView" class="container view" style="display: none;"></div>
    <hr/>
    <div id="debug" class="container" style="background-color:lightcoral;padding:5px;margin:5px;">
        <h3>Debug</h3>
        <div id="buttons"></div>
    </div>
</div>


<script type="text/template" id="storytemplate">
    <h2><%=story.get("name")%></h2>
    <input class="newReadingBtn" type="button" class="btn btn-default" value="Start a new reading"/>

    <h3>Readings</h3>
    <table class="table table-hover">
        <% readingList.each(function(reading) { %>
        <tr>
            <td><%=reading.get("name") %></td>
            <td><a href="#/reading/<%=reading.id%>"><input class="openReadingBtn" type="button" class="btn btn-default" value="Open"/></a></td>
            <!--<td><a href="#/reading/delete/<%=reading.get("id")%>"><input class="deleteReadingBtn" type="button" value="Delete"/></a></td>-->

            <%});%>
    </table>
    <%if(readingList.size()==0){%>
    <p>no readings</p>
    <%}%>

    <!-- <input class="newCustomReadingBtn" type="button" class="btn btn-default" value="Start a new reading with custom settings" /> -->

</script>

<!--List available cards-->
<script type="text/template" id="decktemplate1">
    <h3><%=story.get("name") %></h3>

    <table class="table table-hover">
        <% _.each(story.get("deck"), function(card) {%>
        <%if(reading.checkCardConditions(card.id)){ %>
        <tr>
            <td><a href="#/card/<%=reading.get("id") %>/<%=card.id %>"> <%=card.label %> </a></td>
        </tr>
        <%}%>
        <%});%>
    </table>
</script>

<!--List all cards, red or green based on availability-->
<script type="text/template" id="decktemplate2">
    <h3><%=story.get("name") %></h3>

    <table class="table table-hover">
        <% _.each(story.get("deck"), function(card) {%>
        <%if(reading.checkCardConditions(card.id)){ %>
        <tr class="success">
            <td><a href="#/card/<%=reading.get(" id") %>/<%=card.id %>"> <%=card.label %> </a></td>
        </tr>
        <%} else{%>
        <tr class="danger">
            <td><%=card.label %></td>
        </tr>
        <%}%>
        <%});%>
    </table>
</script>

<!--List all cards not failing non loc rules, red and green based on loc rules including directions -->
<script type="text/template" id="decktemplate3">
    <h3><%=story.get("name") %></h3>

    <table class="table table-hover">
        <% _.each(story.get("deck"), function(card) {%>
        <%if(reading.checkCardConditions(card.id)){ %>
        <tr class="success">
            <td><a href="#/card/<%=reading.get(" id") %>/<%=card.id %>"> <%=card.label %> </a></td>
        </tr>
        <%} else{%>
        <% console.log("temp check ",card.direction) %>
        <%if(card.direction&&reading.checkCardNonLocConditions(card.id)){ %>
        <tr class="danger">
            <td><%=card.label %> - <i><%=card.direction %></i></td>
        </tr>
        <%}%>
        <%}%>
        <%});%>
    </table>
</script>



<script type="text/template" id="readingdialog">
    <div>Custom New Reading</div>
</script>

<script data-main="dist/storyPlaces" src="script/libs/require.js"></script>
<!--<script src="script/libs/leaflet.js"></script>-->

</body>

</html>
