<!doctype html>

<html lang="en">

	<head>
		<title>StoryPlaces</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	</head>
	
	<body>
		<div>
			<h1>StoryPlaces</h1>
			<hr/>
			<div id="page">
			</div>
			<hr/>
			<div id="debug" style="background-color:lightcoral;padding:5px;margin:5px;">
			</div>
		</div>
		
		
		<script type = "text/template" id="storylisttemplate">
			<h4>Story List</h4> 
			<% _.each(storylist, function(story) { %>
			
				<p><%=story.get("name") %> <a href="#/story/<%=story.get("_id") %>"> load </a></p>
			
			<%});%>
			<input class="updateList" type="button" value="Update Story List"/>
			
		</script>
		
		<script type = "text/template" id="storytemplate">
			<h4><%=story.get("name")%></h4>
			<input class="newReadingBtn" type="button" value="Start a new reading" />
			
			<h4>Readings</h4> 
			<table>
			<%var readingcount=0;%>
			<% _.each(readinglist, function(reading) { %>
				<%if(reading.get("story")==story.get("_id")) {%>
					<%readingcount++;%>			
					<tr>
						<td><%=reading.get("name") %></td>
						<td><a href="#/reading/<%=reading.get("id")%>"><input class="openReadingBtn" type="button" value="Open"/></a></td>
						<!--<td><a href="#/reading/delete/<%=reading.get("id")%>"><input class="deleteReadingBtn" type="button" value="Delete"/></a></td>-->
				<%}%>
			
			<%});%>
			</table>
			<%if(readingcount==0){%>
				<p>no readings</p>
			<%}%>
			
			<input class="newCustomReadingBtn" type="button" value="Start a new reading with custom settings" />
			
		</script>
		
		<script type = "text/template" id="decktemplate">
			<h4><%=story.get("name") %></h4> 
			<% _.each(story.get("deck"), function(card) {%>
				<%if(reading.checkCardConditions(card.id)){ %>
				<p><%=card.label %> <a href="#/card/<%=reading.get("id") %>/<%=card.id %>"> open </a></p>
				<%}%>
			<%});%>
		</script>
		
		<script type = "text/template" id="cardtemplate">
			<h4><%=story.get("title")%></h4>
			<div><%=card.content %> </div>
			
			<%if(!card.footerButtonMode||card.footerButtonMode=="next"){%>
				<input class="nextCard" type="button" value="Next" eventCheck="true" eventType="endcard" eventCardId="<%=card.id%>"/>
			<%}%>
			
			<%if(card.footerButtonMode=="end"){%>
				<input class="nextCard" type="button" value="Finish Story" eventCheck="true" eventType="endstory"/>
			<%}%>
			
			<%if(card.footerButtonMode=="none"){%>				
			<%}%>
		</script>		
		
		<script type = "text/template" id="readingdialog">
		
			<div id="readingdialog">Custom New Reading</div>
			
		</script>
		
		<script src="./libs/jquery-2.1.4.js"></script>
		<script src="./libs/underscore.js"></script>
		<script src="./libs/backbone.js"></script>
		
		<!--<script src="./libs/Backbone.localStorage-1.1.16/backbone.localStorage.js"></script>-->
		<script src="./libs/Backbone.dualStorage-1.4.0/backbone.dualstorage.js"></script>
		<script src="./model.js"></script>
		<script src="./views.js"></script> 
		<script src="./routers.js"></script>
		

		
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		
		<script src="./libs/geolocator.js"></script>
		<script src="./debug.js"></script>
		<script src="./SPGPS.js"></script>
		
		
		
	</body>
	
</html>