<!--List all cards not failing non loc rules, red and green based on loc rules including directions -->
		
			<h3><%=story.get("name") %></h3>

			<table class="table table-hover">
				<% _.each(story.get("deck"), function(card) {%>
					<%if(reading.checkCardConditions(card.id)){ %>
						<tr class="success"><td><a href="#/card/<%=reading.get("id") %>/<%=card.id %>"> <%=card.label %> </a></td></tr>
					<%} else{%>
						<% console.log("temp check ",card.direction) %>
						<%if(card.direction&&reading.checkCardNonLocConditions(card.id)){ %>
							<tr class="danger"><td><%=card.label %> - <i><%=card.direction %></i></td></tr>
						<%}%>
					<%}%>
				<%});%>
			</table>
		