
			<h2><%=story.get("name")%></h2>
			<input class="newReadingBtn" type="button" class="btn btn-default" value="Start a new reading" />

			<h3>Readings</h3>
			<table class="table table-hover">
			<%var readingcount=0;%>
			<% _.each(readinglist, function(reading) { %>
				<%if(reading.get("story")==story.get("_id")) {%>
					<%readingcount++;%>
					<tr>
						<td><%=reading.get("name") %></td>
						<td><a href="#/reading/<%=reading.get("id")%>"><input class="openReadingBtn" type="button" class="btn btn-default" value="Open"/></a></td>
						<!--<td><a href="#/reading/delete/<%=reading.get("id")%>"><input class="deleteReadingBtn" type="button" value="Delete"/></a></td>-->
				<%}%>

			<%});%>
			</table>
			<%if(readingcount==0){%>
				<p>no readings</p>
			<%}%>

			<!-- <input class="newCustomReadingBtn" type="button" class="btn btn-default" value="Start a new reading with custom settings" /> -->

		